#about {
    width: 60%;
    height: 600px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 3rem;
    border-radius: 8px;
} 

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-left-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left-container img{
    width: 80%;
    height: 100%;
}

.about-right-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    font-size: 14px;
    font-weight: 300;
}

.about-right-container h1{
    font-size: 35px;
    font-weight: 600;
}