.careers-intro{
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-image: url("https://careers.kissflow.com/hubfs/careers-banner-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.primary-btn{
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
}

.intro-header{
    margin-top: 42px;
}

.margin{
    margin-top: 10px;
}

.careers-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.careers-goals{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.careers-goals h1{
    color: blue;
}

.career-map{
    display: flex;
    padding: 0 200px;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}